.button-container {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 100%;
    justify-content: space-evenly;
    transition: 300ms;
    align-items: center;
}

.image-container:hover .button-container {
    opacity: 1;
}

.button-container Button {
    width: 50%;
}
